<div class="flex flex-row items-center justify-between w-full text-mainText">
    <div class="flex flex-row items-center gap-2">
        <!-- user guides / themes -->
         <div>
            user guides
         </div>
         <div class="text-secondaryText">
            /
         </div>
         <div class="cursor-pointer" (click)="themesClicked()">
            themes
         </div>
    </div>
    <div>
        Developed by <span class="text-secondaryText font-extrabold text-lg cursor-pointer">Varun</span><span class="font-extrabold text-secondaryText animate-pulse">.</span>
    </div>
</div>